body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
  background-color: rgb(24, 24, 27); 
}

input.input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

#paragraph {
  word-break: break-all;
  text-align: left;
  font-size: 24px; 
  line-height: 1.5; 
  color: rgb(113 113 122);
}

.section {
  letter-spacing: 3px;
  font-size: 24px;
  line-height: 1.5; 
}

span {
  font-size: 24px; 
  line-height: 1.5; 
  user-select: none;
  cursor: text;
}

span.wrong {
  color: red;
}

span.correct {
  color: #fff;
}

span.active {
  border-bottom: 3px solid rgb(79, 209, 79);
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.section2 ul {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  width: calc(100% - 15px);
}

.section2 ul li {
  list-style-type: none;
  margin: 0 10px;
}

.section2 ul li p {
  margin: 5px;
  font-size: 18px; 
  line-height: 1.5; 
}

.section2 ul li span {
  font-size: 24px; 
  line-height: 1.5; 
}

button.btn {
  padding: 10px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(161, 222, 161);
  color: #000;
  font-size: 18px; 
  transition: all 0.5s;
  font-weight: 700;
}

button.btn:hover {
  background-color: rgb(134, 228, 134);
}

@media screen and (max-width: 550px) {
  .section2 {
    flex-direction: column;
  }

  .section2 ul {
    width: 100%;
    justify-content: space-between;
  }

  button.btn {
    width: 100%;
    margin-top: 10px;
  }
}
